html {
    margin: 0;
    padding: 0;
}
body{

    background: url({{BG_PNG}}) 0px 0px no-repeat;
    overflow: hidden;
}

video {
    top:0;
    left:0;
    width:1080px;
    height: 1920px;
}

body.weboss.portrait-cw video{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px!important;
    height: 100%;
}

body.weboss.portrait-ccw video{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px!important;
    height: 100%;
}


.main_container {
     position: absolute;
     left: 0;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#main_page {
    position: absolute;
    float: left;
}

.transparent{
    background: transparent;
    border: transparent;
}

#accordion{
    position: relative;
    left: 123px;
    top: 445px;
}


/*#emocan {*/
    /*position: absolute;*/
    /*left: 365px;*/
    /*top: 393px;*/
    /*width: 250px;*/
    /*height: 138px;*/
    /*background: url({{EMOCAN_GIF}}) no-repeat;*/
    /*z-index: 100;*/
/*}*/


.main_button{

     width: 810px;
     height: 216px;
     background-repeat: no-repeat;
 }

.main_button, #main_01{
    background: url({{BUTTONS_PNG}}) -70px -49px no-repeat;
    background-size: 2560px 849px;
}

.main_button, #main_02{
    background: url({{BUTTONS_PNG}}) -70px -286px no-repeat;
    background-size: 2560px 849px;
}

.main_button, #main_03{
    background: url({{BUTTONS_PNG}}) -70px -530px no-repeat;
    background-size: 2560px 849px;
}

/*.main_button, #main_01{*/
    /*background: url({{BUTTONS_PNG}}) -20px -148px no-repeat;*/
    /*background-size: 1080px 2100px;*/
/*}*/

/*.main_button, #main_02{*/
    /*background: url({{BUTTONS_PNG}}) -20px -382px no-repeat;*/
    /*background-size: 1080px 2100px;*/
/*}*/

/*.main_button, #main_03{*/
    /*background: url({{BUTTONS_PNG}}) -20px -626px no-repeat;*/
    /*background-size: 1080px 2100px;*/
/*}*/


.sub_menu{
    background: transparent;
    border: transparent;
    overflow: hidden;
}

.sub_button{
    position: relative;
    width: 720px;
    height: 116px;
    left: 30px;
    overflow: hidden;
 }

#sub_button_01_01{
    background: url({{BUTTONS_PNG}}) -1885px -96px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_01_02{
    background: url({{BUTTONS_PNG}}) -1885px -196px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_01_03{
    background: url({{BUTTONS_PNG}}) -1885px -296px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_02_01{
    background: url({{BUTTONS_PNG}}) -1885px -96px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_02_02{
    background: url({{BUTTONS_PNG}}) -1885px -196px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_03_01{
    background: url({{BUTTONS_PNG}}) -1885px -426px no-repeat;
    background-size: 2560px 849px;
}
#sub_button_03_02{
    background: url({{BUTTONS_PNG}}) -1885px -526px no-repeat;
    background-size: 2560px 849px;
}


/*#sub_button_01_01{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1626px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_01_02{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1725px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_01_03{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1827px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_02_01{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1626px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_02_02{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1725px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_03_01{*/
    /*background: url({{BUTTONS_PNG}}) -36px -1954px no-repeat;*/
    /*background-size: 1080px 2100px;*/

/*}*/
/*#sub_button_03_02{*/
    /*background: url({{BUTTONS_PNG}}) -36px -2060px no-repeat;*/

/*}*/


#detail_page {
    position: absolute;
    left: 1080px;
    background: transparent;
    float: left;
    z-index: -1000;
}

#back_button{
    position: absolute;
    top: 234px;
    left:486px;
    width: 100px;
    height: 95px;
    /*background: green;*/
    background: url({{BUTTONS_PNG}}) -2100px -690px no-repeat;
    background-size: 2560px 849px;
}
#prev_button{
    position: absolute;
    top: 400px;
    left: 75px;
    width: 90px;
    height: 125px;
    background: url({{BUTTONS_PNG}}) -1940px -685px no-repeat;
    background-size: 2560px 849px;
}
#next_button{
    position: absolute;
    top: 400px;
    left: 936px;
    width: 90px;
    height: 125px;
    /*background: green;*/
    background: url({{BUTTONS_PNG}}) -2270px -685px no-repeat;
    background-size: 2560px 849px;
}

/*#back_button{*/
    /*position: absolute;*/
    /*top: 234px;*/
    /*left:486px;*/
    /*width: 100px;*/
    /*height: 95px;*/
    /*!*background: green;*!*/
    /*background: url({{BUTTONS_PNG}}) -2100px -690px no-repeat;*/
/*}*/
/*#prev_button{*/
    /*position: absolute;*/
    /*top: 400px;*/
    /*left: 75px;*/
    /*width: 90px;*/
    /*height: 125px;*/
    /*background: url({{BUTTONS_PNG}}) -734px -1677px no-repeat;*/
/*}*/
/*#next_button{*/
    /*position: absolute;*/
    /*top: 400px;*/
    /*left: 912px;*/
    /*width: 90px;*/
    /*height: 125px;*/
    /*!*background: green;*!*/
    /*background: url({{BUTTONS_PNG}}) -957px -1677px no-repeat;*/
/*}*/

.slider {
    position: relative;
    /*overflow: hidden;*/
    margin: 0px auto 0 auto;
    border-radius: 1px;

}

.slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 1920px;
    text-align: center;
    line-height: 300px;
}


#slider_01_01{
    background: url({{EVIMDE_FIBER_PNG}}) 0 0 no-repeat;
}
#slider_01_02{
    background: url({{EVIMDE_HIZLI_PNG}}) 0 0 no-repeat;
}
#slider_01_03{
    background: url({{EVIMDE_SUPER_PNG}}) 0 0 no-repeat;
}

/*#slider_01_01{*/
    /*background: url({{EVIMDE_CEBIMDE_FIBER_PNG}}) 0 0 no-repeat;*/
/*}*/
/*#slider_01_02{*/
    /*background: url({{EVIMDE_CEBIMDE_HIZLI_PNG}}) 0 0 no-repeat;*/
/*}*/
/*#slider_01_03{*/
    /*background: url({{EVIMDE_CEBIMDE_FIBER_PNG}}) 0 0 no-repeat;*/
/*}*/

#slider_02_01{
    background: url({{EVIMDE_CEBIMDE_FIBER_PNG}})0 0 no-repeat;
}
#slider_02_02{
    background: url({{EVIMDE_CEBIMDE_HIZLI_PNG}}) 0 0 no-repeat;
}
#slider_02_03{
    background: url({{EVIMDE_CEBIMDE_FIBER_PNG}})0 0 no-repeat;
}
#slider_02_04{
    background: url({{EVIMDE_CEBIMDE_HIZLI_PNG}}) 0 0 no-repeat;
}
#slider_03_01{
    background: url({{FIBER_TURKCELLTV_PNG}}) 0 0 no-repeat;
}
#slider_03_02{
    background: url({{YALNIZCA_TURKCELLTV_PNG}}) 0 0 no-repeat;
}
#slider_03_03{
    background: url({{FIBER_TURKCELLTV_PNG}}) 0 0 no-repeat;
}
#slider_03_04{
    background: url({{YALNIZCA_TURKCELLTV_PNG}}) 0 0 no-repeat;
}
